<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'book_app/css/bootstrap.css'%}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            window.setTimeout(function() {
                $("#alert").fadeTo(500, 0).slideUp(500, function(){
                    $(this).remove();
                });
            }, 1000);
        });
    </script>

    <title>Favorite Books</title>
</head>
<body>
    <div class="container">
        {% if messages %} <!-- check if there are any messages -->
            {% for message in messages %} <!-- loop through the messages -->
                {% if message.extra_tags == 'success' %}
                <!-- <span class="error text-success small">{{ message }}</span> display each message in a paragraph tag -->
                                
                <div id="alert" class="alert alert-success alert-dismissible fade show shadow p-3 mr-2 mb-2" role="alert">
                    <strong>{{ message }}</strong> 
                    <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button> -->
                </div>

                {% endif %}
            {% endfor %}
        {% endif %}
    <div class="mt-4 mb-4">
        <a href="/logout" class="btn btn-danger float-right mt-4 mr-4">Log Out</a>
        <h1 class="border border-info shadow p-3 mr-2 mb-2"> Welcome, {{ user.first_name }} !</h1>
    </div>

        
        <div class="row">
            <div class="col border border-info shadow p-3 mr-2 mb-2">
                <h1 class="text-info"> Add a Book </h1> 

            <form class="form-control" action="/add_book" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">

                <label for="name_input">Title:</label>
                {% if messages %} <!-- check if there are any messages -->
                    {% for message in messages %} <!-- loop through the messages -->
                        {% if message.extra_tags == 'title' %}
                        <span class="error text-danger small">{{ message }}</span> <!-- display each message in a paragraph tag -->
                        {% endif %}
                    {% endfor %}
                {% endif %}
                    <input type="text" name="title" class="form-control">


                <label for="name_input">Description:</label>
                {% if messages %} <!-- check if there are any messages -->
                    {% for message in messages %} <!-- loop through the messages -->
                        {% if message.extra_tags == 'desc' %}
                        <span class="error text-danger small">{{ message }}</span> <!-- display each message in a paragraph tag -->
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <textarea type="text" class="form-control" id="desc" placeholder="Please provide a short summary" name="desc" rows="5"></textarea>

                <label for="name_input">Image:</label>
                {% if messages %} <!-- check if there are any messages -->
                    {% for message in messages %} <!-- loop through the messages -->
                        {% if message.extra_tags == 'image' %}
                        <span class="error text-danger small">{{ message }}</span> <!-- display each message in a paragraph tag -->
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <div class="form-group">
                    <input type="file" class="form-control-file" id="exampleFormControlFile1" name="image">
                </div>

                <input type="submit" class="btn btn-info mt-3 text-dark" value="Add to Books">
                </div>
            </form>
        </div> <!-- end of left side / add book -->
        
    <!-- Books Section -->
                
        <div class="col border border-info shadow p-3 ml-2 mb-2">
        <h1 id="main_title" class="shadow p-3 bg-white rounded"> All Books </h1>
            <div id="scroll">
        {% for book in all_books %}
            <div id="book_info" class="col border border-info shadow p-3 mr-2 mb-4">
                
                <a href="/books/{{ book.id }}" class="display-3 btn text-info btn-dark">{{ book.title }}</a>
                <p class="text-info mb-3">(added by {{ book.uploaded_by.first_name }} {{ book.uploaded_by.last_name }})</p>

                {% if user in book.users_who_like.all %}
                    <p class="small">This book is already in your favorites!</p>
                {% endif %}   

            </div>
        {% endfor %}
            </div>
         <!-- end of right side -->
        </div>
    </div><!-- end of rows -->
    </div> <!-- end of container --> 
</body>
</html>