<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'book_app/css/bootstrap.css'%}">

    <title>Favorite Books</title>
</head>
<body>
    <div class="container">
        <a href="/logout" class="btn btn-danger float-right mt-4 mr-4">Log Out</a>
        <a href="/books" class="btn btn-danger float-right mt-4 mr-4">Home</a>
        <h1 class="border border-info shadow p-3 mr-2 mb-2"> Welcome  {{ request.session.first_name }} !</h1>

        {% if messages %} <!-- check if there are any messages -->
            {% for message in messages %} <!-- loop through the messages -->
                {% if message.extra_tags == 'success' %}
                <span class="error text-success small">{{ message }}</span> <!-- display each message in a paragraph tag -->
                {% endif %}
            {% endfor %}
        {% endif %}
        
    <div class="row">
        <div class="col border border-info shadow p-3 mr-2 mb-2">
        <h1 id="main_title" class="shadow p-3 bg-white rounded"> {{ this_book.title }} </h1>

            <div class="form-group row">
                <label for="tv_id" class="text-danger col-sm-4 col-form-label">Added By:</label>
                <div class="col-md-8">
                    <p class="form-control-plaintext" id="tv_id">{{ this_book.uploaded_by.first_name }} {{ this_book.uploaded_by.last_name }}</p>
                </div>
            </div>
            <div class="form-group row">
                <label for="network" class="text-danger col-sm-4 col-form-label">Added On:</label>
                <div class="col-md-8">
                    <p class="form-control-plaintext" id="network">{{ this_book.created_at }}</p>
                </div>
            </div>
            <div class="form-group row">
                <label for="release" class="text-danger col-sm-4 col-form-label">Latest Update:</label>
                <div class="col-md-8">
                    <p class="form-control-plaintext" id="release">{{ this_book.updated_at }}</p>
                </div>
            </div>
            <div class="form-group row">
                <label for="descript" class="text-danger col-sm-4 col-form-label">Description:</label>
                <div class="col-md-8">
                    <p class="form-control-plaintext" id="descript">{{ this_book.desc }}</p>
                </div>
            </div>
        </div> <!-- end of left side  -->
        
            <!-- Info Section -->
        <div class="col border border-info shadow p-3 mr-2 mb-2">

            <!-- If someone has book in their favorite already, they can unfavorite and vice verse -->
             {% if user in this_book.users_who_like.all %}
                <p>This book is already in your likes! <span><a class="btn btn-danger float-right" href="/books/{{this_book.id}}/unfavorite">Unfavorite</a></span></p>
            {% else %}
                <p>Would you like to add this book to your favorites?<span><a class="btn btn-info float-right" href="/books/{{this_book.id}}/favorite">Favorite</a></span></p>
            {% endif %}
            <!-- ---------------------------- -->
            
            <h1 class="text-dark"> Users Who Like This Book </h1> 
            <ul>
            {% for user in favorites %}
                <li>{{ user.first_name }} {{ user.last_name }}</li>
            {% endfor %}
            </ul>
        </div> <!-- end of right side -->
    </div><!-- end of rows -->
    </div> <!-- end of container --> 
</body>
</html>